.navSearchContainer {
    display: flex!important;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row!important;
    margin-bottom: 35px;
}

.navInputContainer {
    display: flex;
    align-items: center;
}

.filtersContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #424242;
    border-radius: 3px;
    margin: 25px 0;
}

p {
    margin: 0 0 10px 0;
}
